# Python
venv/
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# Logs / PID
*.log
*.pid

# Local DB (se não quiser versionar dados)
*.db

# ⚠️ Libera APENAS o banco principal para versionar (use repo privado)
!oficina.db

# Env
.env
.env.*
